/.env
/.idea
/Arrays
/Daten.nosync
/Daten_Donut.nosync
/Daten_sorted.nosync
/Models.nosync
/EasyOCR
/Models
/Daten
/Daten_Donut
/Daten_Donut2
/Daten_Donut3
/Daten_sorted
lightning_logs/
test/
/Information Extraction/Donut
