.idea
/EasyOCR
/Models
/Daten
/Daten_Donut
/Daten_Donut_all_classes
/Daten_Donut_random
Daten_sorted
lightning_logs/
test/
/Information Extraction/Donut
/home/sebastian/Documents/Hauptprojekt/Information Extraction/wandb
